@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Varela Round', sans-serif;
}

#title {
    font-size: 48px;
    margin: auto 10px;
    float: left;
}

/* nav links */

#nav-bar {
    margin: auto 10px;
}

#nav-bar li {
    float: right;
    list-style-type: none;
    padding: 5px;
}

